%tr{ id: ['cut_row', cut.id] }
  - original = cut.original_url
  %td= original
  %td
    %a{ href: "http://link-shrtnr.herokuapp.com/#{cut.short_url}" } http://link-shrtnr.herokuapp.com/#{cut.short_url}