.text-center
  %h1 Url shortener
  %p Type you long, ugly link and cut it like a boss!
  %br

  - if !@cut.errors.empty?
    .alert.alert-error
      %ul
        - @cut.errors.full_messages.each do |msg|
          %li= msg

  .form-inline
    = form_for @cut, remote:true, html: { multipart: true } do |f|
      = f.label :original_url
      = f.text_field :original_url, class: "form-control original_url", placeholder: "very-long-url.com"
      = f.submit "Cut!", class: "btn btn-default"

%br 
%br
%table.table.table-bordered.table-responsive
  %tbody.container_cuts{"data-turbolinks" => "false"} 

